<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hikaro.kolesakz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Politics"
            android:label="@string/title_activity_politics"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hikaro.kolesakz.MainActivity" />
        </activity>
        <activity
            android:name=".World"
            android:label="@string/title_activity_world"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Society"
            android:label="@string/title_activity_society"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Economics"
            android:label="@string/title_activity_economics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sports"
            android:label="@string/title_activity_sports"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Accidents"
            android:label="@string/title_activity_accidents"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Culture"
            android:label="@string/title_activity_culture"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Science"
            android:label="@string/title_activity_science"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Health"
            android:label="@string/title_activity_health"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Technology"
            android:label="@string/title_activity_technology"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Internet"
            android:label="@string/title_activity_internet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Auto"
            android:label="@string/title_activity_auto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tourism"
            android:label="@string/title_activity_tourism"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Kazakh"
            android:label="@string/title_activity_kazakh"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>